# GraphDB Configurations
GRAPHDB_URL=http://localhost:7200
GRAPHDB_USER=admin
GRAPHDB_PASSWORD=admin
GRAPHDB_DEFAULT_REPO=test

# Backend Server Configurations
PORT=8000
HOST=127.0.0.1
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

# Admin App Authentication Configurations
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
